body
{
    
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    color:black;
}
header, nav,  section, footer {
    display:block;
}
article,aside{
    display:inline;
}
#box {
    background-color:green;
    display:none;
    position:relative;

}
#komadai {
    /*background-color:aqua;*/
    
    left:500px;
    top:0px;
    position:absolute;
}
button{
    margin:10px;
}
#board {
    
    width:1235px;
    height:1877px;
    position:relative;

}

canvas {
    position :relative;
    /*width:200px;
    height:200px;*/
}

canvas.cell{
    position:absolute;
 
}
canvas.emphasis{
    position:absolute;
}

#komagote{
    width:200px;
    height:233px;
    background-color:aqua; 
    top:0px;
    left:417px;

}
#infobox {
    width: 200px;
    height: 150px;
    background-color: chocolate;
    top: 238px;
    left: 417px;
}
#komasente {
    width: 200px;
    height: 233px;
    background-color: aqua;
    top: 393px;
    left: 417px;
}

div.battlemode{
    position:absolute;
}

label.info{
    position:absolute;
    font-size:18px;
}