<!DOCTYPE html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%=title %></title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="css/gunjin1_0.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/GunjinShogiProgram.js"></script>
    <script type="text/javascript" src="js/gunjin1_0.js"></script>
</head>
<body>
    <audio id="komaoto" preload="auto">
    	<source src="src/komaoto.mp3" type="audio/mp3">
    </audio>
	<h1 style="display:none;" id="roomNum"><%= roomNum%></h1>
    <div id="nameinput" class="w3-container">
		<h1 class="w3-teal">名前を入力して入室してください</h1>
		<p>過疎のため、友達などと事前に相談し、同じ部屋番号の部屋に入ってください。</p>
		<h3 id="roomNum" class="">あなたが今いるのは　<%= roomNum%>号室です。</h3>
        <label>名前を入力して「対戦する」ボタンを押してください。対戦相手が決まると自動的に配置モードに切り替わります。</label>
        <form id="nameform" class="w3-container w3-border">
        	<label>名前：</label>
			<input id="name" type="text" class="w3-input w3-border">
			<button type="submit" class="btn w3-btn w3-red">対戦する</button>

        </form>
		<div class="w3-container">
        <button class="btn w3-button w3-teal" onClick="ToIndexPage();">部屋リストに戻る</button>
		</div>
    </div>

    <div id="waiting" style="display:none;">
        <h1 class="w3-teal">対戦者が来るのを待っています...</h1>
		<p>駒の強さや移動のルール</p>
		<img class="w3-modal-content" src="img/strength.png" style="width:700px; display: block" onclick="document.getElementById('img_strength').style.display='block'">
        <button class="btn w3-button w3-teal" onClick="ToIndexPage();">やめる</button>
    </div>

    <div id="battlestart" style="display:none;">
        <h1 class="w3-teal">対戦者が決定しました</h1>
        <div class="w3-container w3-xxlarge">
            <label>先手：</label>
            <label id="sente"></label><br />
            <label>後手：</label>
            <label id="gote"></label>
        </div>
    </div>

    <div id="battlejunbi" style="display:none;">
        <div class="w3-container">
        	<h1 class="" id="mysengo"></h1>
            <h1 class="w3-teal" id="statemsg">初期配置を決めてください。</h1>
        </div>


        <div class="w3-container">
            <div style="display:none;">
                <canvas class="cell" width="67" height="67"></canvas>
                <canvas class="shireibu cell" width="135" height="67"></canvas>
                <canvas class="emphasis" width="67" height="67"></canvas>
            </div>
            <button id="change" class="haitimode btn w3-button w3-khaki">配置をやり直す</button>
            <button id="haitikettei" class="haitimode btn w3-button w3-teal">配置決定</button>
            <button class="haitiwaiting btn w3-button w3-teal" id="haitichange">配置を変更する</button>
            <label id="haitistate" class="haitimode">先手：配置中　後手：配置中</label>
            <div>
	            <div id="board">
	                <canvas id="field" width="412" height="626"></canvas>
	                <div id="komaushiro" class="battlemode"></div>
	                <div id="infobox" class="battlemode">
	                	<h6 id="sengodebug"></h6>
	                	<button id="touryou" class="btn w3-button w3-red" style="display:none;">投了する</button>
	                	<div id="hikiwakebox">
	                		<button id="hikiwakebtn" class="btn w3-button w3-yellow" style="display:none;">引き分け提案する</button>
	                		<label id="hikiwakemsg"></label>
	                	 </div>
	                	 <div class="gamefinish">
					        <button id="modoru" class="btn w3-button w3-teal">一手戻る</button>
					        <label id="nanteme"></label>
					        <label>/</label>
					        <label id="tesuu"></label>
					        <button id="susumu" class="btn w3-button w3-teal">一手進む</button>
					        <br>
					        <button id="saishomodoru" class="btn w3-button w3-green">最初に戻る</button>
					        <button id="saigosusumu" class="btn w3-button w3-green">最後に進む</button>
						</div>
	                </div>
	                <div id="komatemae" class="battlemode"></div>

	                <div id="komainfobox" class="battlemode"></div>

	            </div>

	            <div id="komadai" class="haitimode">
	                <!-- ここに2x12のcanvasを配置して駒の画像を表示する -->
	            </div>
	       </div>
        </div>

        <footer>
            ©zawawahoge
        </footer>
    </div>

    <div id="battle" style="display:none;">

    </div>
    <div id="battlefinish" style="display:none;">


    </div>

</body>
</html>
